
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family-bold),Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}


.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page__header {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 0;
}

.page__title {
    font-size: var(--font-size-title);
    margin: 0;
}

.page__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page__footer {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 0;
    font-size: var(--font-size-base);
}

/* -----------------------------------------------Quiz Sections---------------------------------------------- */
.quiz__section {
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.quiz__section--hidden {
    display: none;
}


.quiz__title {
    font-size: var(--font-size-quiz-title);
    margin-bottom: 15px;
}


.quiz__progress {
    margin: 10px 0;
    font-size: 14px;
}

.quiz__progress-bar {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    height: 10px;
    margin-top: 5px;
}

.quiz__progress-bar-fill {
    background-color: var(--primary-color);
    height: 100%;
    width: 0%; 
    transition: width 0.3s ease;
}

/*------------------------------------ Questions and Answers--------------------------------------------- */
.quiz__question-container {
    margin-top: 20px;
}

.quiz__question {
    font-size: var(--font-size-question);
    margin-bottom: 15px;
}

.quiz__answers button {
    display: block;
    background-color: #f1f1f1;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    padding: 10px;
    margin: 10px auto;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quiz__answers button:hover {
    background-color: var(--secondary-color);
}


.quiz__button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    cursor: pointer;
    font-size: var(--font-size-base);
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.quiz__button:hover {
    background-color: var(--primary-color-hover);
}

/* -----------------------------------Review Section------------------------------------------------ */
.quiz__review {
    text-align: left;
}

.quiz__review-item {
    margin-bottom: 15px;
}

.quiz__review-question {
    font-weight: bold;
}

.quiz__review-answer {
    margin-left: 10px;
}

.quiz__review-answer--correct {
    color: var(--success-color);
}

.quiz__review-answer--user {
    color: var(--error-color);
}
